<h1>DADOS ATUALIZADOS DO COVID19</h1>
<p>N° de casos confirmados: <%= @summary['confirmed']['value']%></p>
<p>N° de casos recuperados: <%= @summary['recovered']['value']%></p>
<p>N° de casos de mortos: <%= @summary['deaths']['value']%></p>
